/*Added css for association page*/
.associationImg{
    background-image: url("../img/association/association_topimage.png");
    height: 478px;
    width: 100%;
    background-size: cover;
    background-position-x: center;
    background-repeat: no-repeat;
}
h1.innerpages{
    padding-top: 0.5em;
    padding-bottom: 1em;
}
#founderImg{
    height: 320px;
    width: 320px;
    padding: 2em;
}
.founderprofile
{
    text-align: center;
}
.overline.centered{
    text-align: center;
}
p.normal.first{
    padding-top: 1em;
}
@media screen and (max-width:767px){
    h1.innerpages{
        padding-left: 0.4em;
    }
    p{
        padding-left: 0.8em;
    }
}
@media screen and (max-width: 400px){
    #founderImg{
        height: 274px;
        width: 274px;
        padding: 2em;
    }
}
.associationPar1{
    padding-left: 4vw;
    padding-right: 7vw;
    padding-bottom: 50px;
}
.peoplecaption{
    font-family: 'Open Sans', 'sans-serif';
    font-weight: normal;
    font-size: 0.9em;
    line-height: 1.5;
    color: #004D4A;
    text-align: center;
}