.eventIntro{
    width: 100%;
    margin: 0 0 50px 0;
}
#eventImage{
    padding-right: 0;
    padding-left: 0;
}
#eventImage img{
    width: 100%;
}
#eventPar{
    width: auto;
    margin-left: 50px;
    margin-right: 25px;
    padding-left: 0;
}
.title{
    margin-left: 50px;
    margin-right: 25px;
}
@media only screen and (max-width: 1200px){
    .coursesIntro{
        width: 100%;
    }
}