#eventIntro{
    width: 100%;
    margin: 0 0 50px 0;
}
#eventImage{
    padding-right: 0;
    padding-left: 0;
}
#eventImage img{
    width: 100%;
}
#eventPar{
    width: auto;
    margin-left: 50px;
    margin-right: 25px;
    padding-left: 0;
}
.title{
    margin-left: 50px;
    margin-right: 25px;
}
#coordinatorInfo{
    background-color: #CEE8DF;
    height: 110px;
    margin-right: 50px;
    padding: 0;
    width: auto;
    margin-left: 0;
}
#coordinatorPhoto{
    max-width: 74px;
    max-height: 74px;
    margin: 18px 20px;
    display: inline-block;
}
#coordinatorName{
    display: inline-block;
    font-family: 'Nunito sans', sans-serif;
    font-weight: 600;
    font-size: 1.25em;
    color: #4D4D4D;
    margin: 0;
}
#coordinatorInfo .col-auto{
    padding-right: 35px;
}
#coordinatorLink{
    display: inline-block;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
    font-size: 0.9em;
    color: #004D4A;
    text-transform: uppercase;
    text-align: center;
    background-color: #FFFFFF;
    border: 1px solid;
    border-color: #004D4A;
    height: 50px;
    line-height: 50px;
    border-radius: 10px;
    padding: 0px 25px;
}
#coordinatorLink:hover{
    background-color: #E1FBF2;
}
#coordinatorLink:active{
    background-color: #8DC9B1;
}
#eventMap{
    background-color: #A80042;
    font-family: 'Nunito sans', sans-serif;
    font-weight: 600;
    font-size: 0.875em;
    color: #ffffff;
    text-transform: uppercase;
    border-radius: 10px;
}
#eventMap p{
    margin: 0;
    padding-top: 5px;
}
#eventMap i{
    padding-top: 5px;
}
#eventContact{
    margin: 0;
}
#eventContact .col:first-child{
    margin-left: 50px;
    padding: 0;
}
@media only screen and (max-width: 1200px){
    .coursesIntro{
        width: 100%;
    }
}