/*to import the fonts in the HTML
<link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300&family=Open+Sans&display=swap" rel="stylesheet">
*/
body {
    background-color:#ffffff;
    color:#4d4d4d;
    font-family: 'Open Sans', sans-serif;
}
h1 {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 300;
    font-size: 3em;
    line-height: 1.5;
    color: #A80042;
}
h6 {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 600;
    font-size: 1.3em;
    line-height: 1.5;
    color: #A80042;
}
p.normal {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1em;
    line-height: 1.5;
    color: #4d4d4d;
}
p.small {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9em;
    line-height: 1.5;
    color: #4d4d4d;
}
.overline {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
    font-size: 0.9em;
    line-height: 1.5;
    color: #004D4A;
    text-transform: uppercase;
}
p.bquote {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 300;
    font-size: 3em;
    font-style: italic;
    line-height: 1.5;
    color: #004D4A;
}
p.mquote{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 300;
    font-size: 1.7em;
    font-style: italic;
    line-height: 1.5;
    color: #004D4A;
}
p.squote{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 300;
    font-size: 1.3em;
    font-style: italic;
    line-height: 1.5;
    color: #004D4A;
}
#main {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 300;
    font-size: 1.7em;
    line-height: 1.5;
    color: #004D4A;
    text-align: center;
    padding: 3.5vw 14vw 4.5vw 14vw;
}
.carousel1{
    width: 100%;
    height: 340px;
    background-image: url("../img/homepage/studying6.png");
    background-size: cover;
    background-position-x: center;
    background-repeat: no-repeat;
    position: relative;
}
.carousel2{
    width: 100%;
    height: 340px;
    background-image: url("../img/homepage/studying7.png");
    background-size: cover;
    background-position-x: center;
    background-repeat: no-repeat;
    position: relative;
}
.carouseltitle{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 600;
    font-size: 3em;
    line-height: 1.5;
    color: #ffffff;
    text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 20px;
    left: 89px;
}
.button{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
    font-size: 0.875em;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    background-color: #A80042;
    width: 200px;
    height: 50px;
    position: absolute;
    bottom: 55px;
    left: 100px;
    line-height: 38px;
    border-radius: 10px;
}
.button:hover{
    background-color: #d20644;
    color: #ffffff;
}
.button:active{
    background-color: #910039;
}
.carousel-control-prev-icon{
    position: absolute;
    left: 45px;
}
.carousel-control-next-icon{
    position: absolute;
    right: 45px;
}
.homepageImg{
    background-image: url("../img/homepage/groupstudents3.png");
    height: 318px;
    width: 100%;
    background-size: cover;
    background-position-x: center;
    background-repeat: no-repeat;
}
.homepagePar1{
    padding-left: 4vw;
    padding-right: 7vw;
    padding-bottom: 50px;
}
.homepagePar1 .button{
    position: absolute;
    bottom: 0px;
    left: 4vw;
}
.homepageTitle{
    padding: 100px 0px 0px 97px;
}
.homepageTitle h1{
    line-height: 1.2em;
}
.homepagePar2{
    padding-top: 100px;
    padding-left: 4vw;
    padding-right: 7vw;
    padding-bottom: 50px;
}
.homepagePar2 .button{
    position: absolute;
    bottom: 0px;
    left: 4vw;
}
@media screen and (max-width: 768px) {
    .button {
        position: absolute;
        bottom: 72px;
        left: calc(50% - 100px);
    }
    .carousel-item{
        text-align: center;
    }
    .carouseltitle{
        position: static;
        font-size: 2.5em;
        margin-top: 45px;
    }
    #main {
    font-size: 1.4em;
    }
    .homepageImg{
        margin-bottom: 50px;
    }
    .homepagePar1{
        padding-left: 60px;
    }
    .homepagePar1 .button{
        position: absolute;
        bottom: 27px;
        /* top: 250px; */
        top: 90%;
        left: calc(50% - 100px);
    }
    .homepageTitle{
        padding-left: 60px;
        padding-right: 60px;
    }
    .homepageTitle h1{
        line-height: 1.2em;
    }
    .homepagePar2{
        padding-top: 30px;
        padding-left: 60px;
        padding-right: 60px;
    }
    .homepagePar2 .button{
        position: absolute;
        bottom: 27px;
        /*top: 145px;*/
        top: 80%;
        left: calc(50% - 100px);
    }
}
