/*to import the fonts in the HTML
<link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300&family=Open+Sans&display=swap" rel="stylesheet">
*/
body {
    background-color:#ffffff;
    color:#4d4d4d;
    font-family: 'Open Sans', sans-serif;
}
h1 {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 300;
    font-size: 3em;
    line-height: 1.5;
    color: #A80042;
}
h6 {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 600;
    font-size: 1.3em;
    line-height: 1.5;
    color: #A80042;
}
.navbar{
    margin-bottom: 20px;
}
.navbar-brand{
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-size: 1.625em;
    color: #004d4a !important;
    text-align: center;
    background-color: white;
    padding: 24px 10px;
}
.navItem{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 800;
    font-size: 0.88em;
    color: #004d4a !important;
    text-transform: uppercase;
    text-align: center;
    background-color: white;
    border-bottom: 4px solid;
    border-color: transparent;
    padding: 24px 10px;
}
.navItem:hover{
    color: #004d4a !important;
    border-color: #004d4a;
}
.navItem:active{
    color: #004d4a !important;
    border-color: #004d4a;
}
.navDonate{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 800;
    font-size: 0.88em;
    color: #a80042 !important;
    text-transform: uppercase;
    text-align: center;
    background-color: white;
    border-bottom: 4px solid;
    border-color: transparent;
    padding: 24px 10px;
}
.navDonate:hover{
    color: #a80042 !important;
    border-color: #a80042;
}
.navDonate:active{
    color: #a80042 !important;
    border-color: #a80042;
}
.navbar-toggler{
    background-color: none;
    color: gray;
}
.navbar-light .navbar-toggler-icon{
    background-image: url("../img/association/menu-24px.svg");
}
.navbar-light .navbar-toggler{
    border-color: transparent;
}
p.normal {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1em;
    line-height: 1.5;
    color: #4d4d4d;
}
p.small {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9em;
    line-height: 1.5;
    color: #4d4d4d;
}
.overline {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
    font-size: 0.9em;
    line-height: 1.5;
    color: #004D4A;
    text-transform: uppercase;
}
p.bquote {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 300;
    font-size: 3em;
    font-style: italic;
    line-height: 1.5;
    color: #004D4A;
}
p.mquote{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 300;
    font-size: 1.7em;
    font-style: italic;
    line-height: 1.5;
    color: #004D4A;
}
div.mquote{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 300;
    font-size: 1.7em;
    font-style: italic;
    line-height: 1.5;
    color: #004D4A;
}
p.squote{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 300;
    font-size: 1.3em;
    font-style: italic;
    line-height: 1.5;
    color: #004D4A;
}
.peoplecaption{
    font-family: 'Open Sans', 'sans-serif';
    font-weight: normal;
    font-size: 0.9em;
    line-height: 1.5;
    color: #004D4A;
    text-align: center;
}
#main {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 300;
    font-size: 1.7em;
    line-height: 1.5;
    color: #004D4A;
    text-align: center;
    padding: 3.5vw 14vw 4.5vw 14vw;
}
.carousel1{
    width: 100%;
    height: 340px;
    background-image: url("../img/homepage/studying6.png");
    background-size: cover;
    background-position-x: center;
    background-repeat: no-repeat;
    position: relative;
}
.carousel2{
    width: 100%;
    height: 340px;
    background-image: url("../img/homepage/studying7.png");
    background-size: cover;
    background-position-x: center;
    background-repeat: no-repeat;
    position: relative;
}
.carouseltitle{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 600;
    font-size: 3em;
    line-height: 1.5;
    color: #ffffff;
    text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 20px;
    left: 89px;
}
.button{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
    font-size: 0.875em;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    background-color: #A80042;
    width: 200px;
    height: 50px;
    position: absolute;
    bottom: 55px;
    left: 100px;
    line-height: 38px;
    border-radius: 10px;
}
.button:hover{
    background-color: #d20644;
    color: #ffffff;
}
.button:active{
    background-color: #910039;
}
.carousel-control-prev-icon{
    position: absolute;
    left: 45px;
}
.carousel-control-next-icon{
    position: absolute;
    right: 45px;
}
.homepageImg{
    background-image: url("../img/homepage/groupstudents3.png");
    height: 318px;
    width: 100%;
    background-size: cover;
    background-position-x: center;
    background-repeat: no-repeat;
}
.homepagePar1{
    padding-left: 4vw;
    padding-right: 7vw;
    padding-bottom: 50px;
}
.homepagePar1 .button{
    position: absolute;
    bottom: 0px;
    left: 4vw;
}
.homepageTitle{
    padding: 100px 0px 0px 97px;
}
.homepageTitle h1{
    line-height: 1.2em;
}
.homepagePar2{
    padding-top: 100px;
    padding-left: 4vw;
    padding-right: 7vw;
    padding-bottom: 50px;
}
.homepagePar2 .button{
    position: absolute;
    bottom: 0px;
    left: 4vw;
}
.carouselComment{
    background-color: #cee8df;
    height: 375px;
    margin-top: 100px;
    text-align: center;
}
.carouselComment .bquote{
    text-align: center;
}
.carouselComment img{
    margin-top: 60px;
    margin-bottom: 20px;
}
.homepageDonate{
    position: relative;
    background-image: url("../img/homepage/world1.png");
    height: 468px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 80% 50%;
}
.homepageDonate .mquote{
    /*left: 35%;*/
    /* height: 40%; */
    margin-top: 100px;
    margin-right: 50px;
}
.volunteerButton{
    position: static;
    /*bottom: 3%;
    left: 52%;*/
    margin-top: 50px;
}
.donateButton{
    position: static;
    /*bottom: 3%;
    left: 75%;*/
    margin-top: 50px;
}
.footer{
    height: auto;
    background-color: #004D4A;
}
.footer .col-lg{
    margin-top: 50px;
    margin-left: 40px;
}
.footer .col-lg-3{
    margin-top: 50px;
    margin-left: 40px;
}
.footertitle{
    font-family: 'Nunito Sans', 'sans-serif';
    font-weight: 700;
    font-size: 1.3em;
    line-height: 1.5;
    color: white;
}
.footerbody{
    font-family: 'Open Sans', 'sans-serif';
    font-size: 1.1em;
    line-height: 1.5;
    color: white;
}
.footerbody a{
    color: white;
}
.footerbody a:visited{
    color: white;
}
.footerbody a:hover{
    color: #8dc9b1;
}
.footerbody a:active{
    color: #498f73;
}
.emptyCol{
    height: 468px;
}
@media screen and (max-width: 1200px) {
    .homepageDonate .mquote{
        /*left: 35%;*/
        /* height: 40%; */
        margin-top: 100px;
        margin-right: 50px;
        margin-left: 50px;
    }
    .volunteerButton{
        margin-left: calc(50% - 100px);
    }
    .donateButton{
        margin-left: calc(50% - 100px);
    }
    .carouselComment .bquote{
        font-size: 1.7em;
    }
    .navbar{
        flex-direction: column !important;
    }
    .footer{
        margin-top: calc(250px + 20vw);
    }
}
@media screen and (max-width: 767px) {
    .navbar{
        flex-direction: row !important;
    }
    .button {
        position: absolute;
        bottom: 72px;
        left: calc(50% - 100px);
    }
    .carousel-item{
        text-align: center;
    }
    .carouseltitle{
        position: static;
        font-size: 2.5em;
        margin-top: 45px;
    }
    #main {
    font-size: 1.4em;
    }
    .homepageImg{
        margin-bottom: 50px;
    }
    .homepagePar1{
        padding-left: 60px;
    }
    .homepagePar1 .button{
        position: absolute;
        bottom: 27px;
        /* top: 250px; */
        top: 90%;
        left: calc(50% - 100px);
    }
    .homepageTitle{
        padding-left: 60px;
        padding-right: 60px;
    }
    .homepageTitle h1{
        line-height: 1.2em;
    }
    .homepagePar2{
        padding-top: 30px;
        padding-left: 60px;
        padding-right: 60px;
    }
    .homepagePar2 .button{
        position: absolute;
        bottom: 27px;
        /*top: 145px;*/
        top: 80%;
        left: calc(50% - 100px);
    }
    .carouselComment{
        height: 650px;
    }
    .carouselComment .bquote{
        text-align: center;
        font-size: 2.5em;
    }
    .homepageDonate{
        height: 260px;
        background-position: center;
    }
    .emptyCol{
        height: 260px;
    }
    .volunteerButton{
        position: static;
        margin-left: calc(50% - 100px);
    }
    .donateButton{
        position: static;
        margin-left: calc(50% - 100px);
    }
    .footer{
        margin-top: calc(470px + 50vw);
    }
    /* .homepageDonate p{
        position: absolute;
        top: 100%;
        margin-top: 20px;
        width: 65%;
    }
    .volunteerButton{
        position: absolute;
        top: 200%;
        left: 15%;
    }
    .donateButton{
        position: absolute;
        top: 200%;
        left: 58%;
    } */
}
@media screen and (max-width: 550px) {
    .volunteerButton{
        margin-left: calc(50% - 100px);;
    }
    .donateButton{
        margin-left: calc(50% - 100px);;
    }
}